.dropdown-list {
    width: fit-content;
    position: relative;

    .down-button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: $gap-2;
        cursor: pointer;
        opacity: 0.8;
        
        img {
            width: 30px;
            background: none;
            padding: $gap-1;
            display: block;
        }
    }

    .down-button:hover {
        background-color: $gray;
    }

    .list {
        display: none;
        position: absolute;
        border: 1px solid $gray;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        font-size: $font-size-3;
        color: $dark-gray;
        font-weight: 300;
        box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);

        & > * {
            display: grid;
            grid-template-columns: 40px 1fr;
            height: 40px;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-right: $gap-2;

            img {
                width: 40px;
                padding: $gap-2 $gap-3;
                opacity: 0.4;
            }
        }

        & > *:hover {
            background-color: $gray;
        }
    }

    .list.visible {
        display: block;
    }
}