.modal {
    background-color: $transparent-black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;

    .modal-box {
        background-color: white;
        width: fit-content;
        height: fit-content;
        min-height: 50px;
        min-width: 50px;
        position: relative;
        border-radius: 5px;
        padding: $gap-4 $gap-5;

        img.dismiss {
            width: 20px;
            display: block;
            margin-left: auto;
            opacity: 0.2;
            cursor: pointer;
        }

        img.dismiss:hover {
            opacity: 0.3;
        }
    }
}

.modal.visible {
    display: flex;
}