.new-operation {
    background-color: white;
    padding: $gap-4;
    width: $operation-width;
    border-radius: 4px;
    box-shadow: $box-shadow;

    input {
        border-bottom: 1px solid $input-border;
        width: 100%;
        color: $text-black;
    }
}