.operation {
    box-shadow: 0 1px 4px 0 rgba(21,27,38,.08);
    padding: $gap-4;
    border-radius: 5px;
    background-color: white;

    .top-row {
        display: flex;
        justify-content: space-between;

        .main-info {
            display: grid;
            grid-template-columns: 14px 1fr;
            align-items: center;
            gap: $gap-2;
            margin-bottom: $gap-2;
            height: fit-content;
    
            .action {
                border: 2px solid transparentize($green, 0.3);
                width: 16px;
                height: 16px;
                border-radius: 50%;
                cursor: pointer;
            }

            .action.activate {
                position: relative;
            }

            .action.activate:before, .action.activate:after {
                content: "";
                width: 2px;
                position: absolute;
                height: calc(100% - 4px);
                background-color: transparentize($green, 0.3);
                top: 2px;
                left: 5px;
            }

            .action.activate.disabled {
                border-color: $gray;
                pointer-events: none;
            }

            .action.activate.disabled:before, .action.activate.disabled:after {
                background-color: $gray;
            }

            .action.activate:hover:before, .action.activate:hover:after {
                background-color: $green;
            }

            .action.activate:after {
                transform: rotate(90deg);
            }

            button.action:hover, img.action {
                border-color: $green;
            }

            img.action {
                background-color: $green;
                cursor: auto;
            }

            .operation-name {
                color: inherit;
                text-decoration: none;
            }

            .operation-name:hover {
                text-decoration: underline;
            }
        }

    }

    .order-buttons {
        display: grid;
        gap: $gap-2;
        margin-left: 2px;

        .order-spacer {
            height: 10px;
        }

        .move-up, .move-down {
            width: 10px;
            height: 10px;
            position: relative;
            cursor: pointer;
        }

        .move-up:before, .move-up:after, .move-down:before, .move-down:after {
            content: "";
            position: absolute;
            width: 1px;
            background-color: $gray;
            height: 100%;
        }

        .move-up:hover:before, .move-up:hover:after, .move-down:hover:before, .move-down:hover:after {
            background-color: $dark-gray;
        }

        .move-up:before, .move-down:after {
            transform: rotate(45deg);
        }

        .move-up:after, .move-down:before {
            transform: rotate(315deg);
        }

        .move-up:before, .move-down:before {
            left: 2px;
        }

        .move-up:after, .move-down:after {
            right: 0;
        }
    }

    .started {
        color: $gray;
        font-size: $font-size-2;
    }

    .task-list {
        margin-top: $gap-6;
    }
}