

    .operations-list {
        width: 400px;
        
        .operation {
            margin-bottom: $gap-5;
        }

        .operation:last-child {
            margin-bottom: 0;
        }
    }