

    .operations-list {
        width: 400px;
        
        .operation-background {
            margin-bottom: $gap-5;
        }

        .operation-background:last-child {
            margin-bottom: 0;
        }
    }