.operation-background {
    .operation {
        background-color: white;
        box-shadow: $box-shadow;
        padding: $gap-4;
        border-radius: 5px;
    
        .top-row {
            display: flex;
            justify-content: space-between;

            .top-right {
                display: flex;
                align-items: flex-start;
            }

            img {
                margin-top: $gap-1;
                width: 12px;
                margin-right: $gap-2;
                cursor: pointer;
                background: none;
                transition-duration: 0.1s;
                padding: 1px
            }

            img:hover {
                padding: 0;
            }
    
            .operation-projects {
                display: grid;
        
                .operation-project {
                    display: grid;
                    grid-template-columns: 10px 1fr;
                    align-items: center;
                    font-size: $font-size-1;
                    font-weight: 300;
                    padding: $gap-1 $gap-1;
                    gap: $gap-1;
                    border-radius: 4px;
                    text-decoration: none;
                    color: inherit;
        
                    .project-color {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
        
                .operation-project:hover {
                    background-color: $gray;
                }
            }
        }  
        
        button {
            color: $black;
            cursor: pointer;
            font-size: $font-size-2;
            font-weight: 300;
            color: $primary-button;
        }

        button:hover {
            font-weight: 500;
        }
    }
}


.operation-background.expanded {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: $transparent-black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    .operation {
        width: 600px;
        padding: $gap-5 $gap-5;

        .top-row {
            margin-bottom: $gap-3;

            .operation-name {
                font-size: $font-size-7;
            }

            img {
                width: 18px;
                margin-right: $gap-3;
                padding: 0;
            }

            img:hover {
                padding: 1px;
            }

            .operation-projects {
                .operation-project {
                    font-size: $font-size-3;
                    padding: $gap-1 $gap-2;
                }
            }
        }

        .description {
            font-weight: 300;
            margin-bottom: $gap-3;
            font-size: $font-size-4;
        }

        .buttons {
            display: grid;
            grid-template-columns: repeat(2, 85px);
            gap: $gap-4;
            margin-top: $gap-5;

            button {
                padding: $gap-2 $gap-4;
                cursor: pointer;
                border-radius: 5px;
                opacity: 0.8;
                font-size: $font-size-3;
                color: white;
            }

            button:hover {
                opacity: 1;
            }

            button.save {
                background-color: $primary-button;
                color: white;
            }
        }
    }
}