.project-settings-form {
    .option {
        margin-bottom: $gap-6;

        label {
            display: block;
            margin-bottom: $gap-1;
        }
    }

    .category-count {
        font-size: $font-size-5;
        font-weight: 300;
        margin-bottom: $gap-4;
    }

    .categories-grid {
        display: grid;
        gap: $gap-3;
        width: fit-content;
        min-width: 200px;

        button {
            height: 53px;
            border: 2px dashed transparentize($dark-gray, 0.8);
            border-radius: 4px;
            color: transparentize($dark-gray, 0.8);
            font-size: $font-size-7;
            line-height: 1;
            cursor: pointer;
            transition: 0.2s;
        }

        button:hover {
            color: transparentize($dark-gray, 0.6);
            border-color: transparentize($dark-gray, 0.6);
        }
    }
}

.project-settings-form.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}