.slot {
    width: 400px;

    .slot-name {
        font-weight: 700;
        font-size: $font-size-6;
        margin-bottom: $gap-5;
    }

    .operations {
        display: grid;
        gap: $gap-4;
        max-height: 700px;
        overflow-y: scroll;
        padding: 4px;
        position: relative;
    }

    .operations:after {
        content: "";
        height: 0.1px;
    }

    .no-operations {
        font-weight: 300;
        color: $dark-gray;
        font-size: $font-size-2;
    }
}