.slot {
    width: 400px;

    .slot-name {
        font-weight: 700;
        font-size: $font-size-6;
        margin-bottom: $gap-5;
    }

    .operations {
        display: grid;
        gap: $gap-4;
        padding: $gap-1;
        position: relative;
        margin-left: -$gap-1;
    }

    .operations:after {
        content: "";
        height: 0.1px;
    }

    .no-operations {
        font-weight: 300;
        color: $dark-gray;
        font-size: $font-size-2;
        margin: -$gap-1;
    }
}