.slot-summary {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: $gap-2 $gap-3;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);

    .slot-name {
        font-size: $font-size-4;
        margin-bottom: $gap-1;
        display: inline-block;
        width: calc(100% - #{20px - $gap-2});
        max-width: 300px;
        line-height: 1;
        min-width: 10px;
        cursor: text;
    }

    .delete {
        position: absolute;
        width: 8px;
        height: 8px;
        opacity: 0.5;
        cursor: pointer;
        right: $gap-3;
        top: $gap-2;

        img {
            display: block;
            width: 100%;
        }
    }

    .delete:hover {
        opacity: 0.7;
    }

    .delete.disabled {
        pointer-events: none;
        opacity: 0.1;
    }

    .slot-info {
        font-size: $font-size-2;
        color: $dark-gray;
        font-weight: 300;
    }
}