@import "./presets";

body {
    font-family: $font;
    color: $black-1;
    background-color: $background-gray;
}

main {
    padding: $gap-3;
}

.logo {
    font-family: $logo-font;
}

a {
    color: $hyperlink-color;
}

input, select, textarea {
    display: block;
    width: 100%;
    padding: 0;
    background-color: inherit;
    border-bottom: 1px solid $black-2;
}

input[type=submit], button {
    cursor: pointer;
    border-bottom: 0;
    width: fit-content;
    background-color: $stratako-color;
    color: white;
    padding: $gap-1 $gap-2;
    border-radius: 3px;
    font-size: $font-size-2;
}

form.loading {
    opacity: 0.5;
}