@import "./presets";

body {
    font-family: $font;
    color: $black-1;
    background-color: $background-gray;
}

main {
    padding: $gap-3;
}

.logo {
    font-family: $logo-font;
}

a {
    color: $hyperlink-color;
}

input, select, textarea {
    width: 100%;
    display: block;
    background-color: white;
    margin-bottom: $gap-5;
    padding: $gap-2;
    font-size: $font-size-3;
}

input[type=submit], button {
    cursor: pointer;
}