@import "presets";

.goal-categories-list {
    display: grid;
    gap: $gap-6;

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
        row-gap: $gap-8;
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
    }
}