@import "presets";

.goal-page {
    .name {
        font-weight: 800;
        font-size: $font-size-9;
        margin-bottom: $gap-5;
    }

    .description {
        color: $black-2;
        margin-bottom: $gap-5;
    }
}