@import "presets";

.goal-category-page {

    h1 {
        font-weight: 800;
        font-size: $font-size-9;
        margin-bottom: $gap-2;
        text-align: center;
    }

    .description {
        color: $black-2;
        margin-bottom: $gap-5;
        text-align: center;
    }
}