@import "presets";

.login-page {
    padding: $gap-3;
    background-color: $stratako-color;
    color: white;

    .logo {
        text-align: center;
        font-size: $font-size-8;
        width: 100%;
        display: block;
        margin: $gap-5 0;
    }

    input {
        margin-bottom: $gap-3;
    }
}