.operations-page {
    padding: $gap-3;

    .slots {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: $gap-3;
        max-width: 700px;
        border: 1px solid black;

        .slot {
            border: 1px solid black;
            padding: $gap-3;

            .slot-title {
                font-size: $font-size-6;
                margin-bottom: $gap-3;
            }
        }
    }

    .past-slots {
        padding: $gap-3;
        max-width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        h3 {
            margin-bottom: $gap-3;
        }

        .completed-operation {
            margin-bottom: $gap-3;

            h4 {
                font-size: $font-size-4;
            }
        }
    }
}