.projects-page {
    padding: $gap-5;
    background-color: $background-gray;
    margin-right: -$gap-5;
    margin-bottom: -$gap-5;

    .project {
        margin-bottom: $gap-5;
        margin-right: $gap-5;
        width: 300px;
        display: inline-block;
    }
}