.project-page {
    padding: $gap-4 #{$gap-5 - $gap-4} $gap-5 $gap-5;

    .top-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: $gap-4;

        h1 {
            font-size: $font-size-9;
            position: relative;
            height: fit-content;
            display: flex;
            align-items: center;
            line-height: 1;

            .color {
                width: 18px;
                height: 18px;
                content: "";
                display: inline-block;
                border-radius: 50%;
                margin-right: $gap-2;
            }

            .dropdown-list {
                margin-left: $gap-2;
            }
        }

        .status {
            background-color: $gray;
            color: white;
            height: fit-content;
            padding: $gap-1 $gap-2;
            border-radius: 5px;
            font-size: $font-size-2;
            opacity: 0.8;
        }

        .status.not-started {
            background-color: $project-not-started;
        }


        .status.active {
            background-color: $project-active;
        }

        .status.maintenance {
            background-color: $project-maintenance;
        }

        .status.on-hold {
            background-color: $project-on-hold;
        }

        .status.abandoned {
            background-color: $project-abandoned;
        }

        .status.completed {
            background-color: $project-completed;
        }

    }

    .second-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid $gray;
        padding-bottom: $gap-5;
        margin-bottom: $gap-5;
        
        p.description {
            font-size: $font-size-5;
            font-weight: 300;
        }
    
        .project-history {
            font-size: $font-size-2;
            font-weight: 200;
            color: $dark-gray;
            text-align: right;
            line-height: 2;
            padding-top: $gap-3;
            white-space: nowrap;
    
            .status {
                font-weight: 400;
            }
        }
    }

    
}