.settings-page {
    display: flex;
    justify-content: center;

    .settings-container {
        background-color: white;
        padding: $gap-6 $gap-5;
        box-shadow: 0 5px 20px 0 rgba(21,27,38,.08);
        border-radius: 10px;
        height: fit-content;
        width: 400px;

        .options {
            display: flex;
            padding-bottom: $gap-5;
            margin-bottom: $gap-5;
            border-bottom: 1px solid $gray;
            padding-left: $gap-5;
            padding-right: $gap-5;
            margin-left: -$gap-5;
            margin-right: -$gap-5;

            .option {
                border: 1px solid $gray;
                padding: $gap-2 $gap-4;
                font-weight: 500;
                border-radius: 4px;
                margin-right: $gap-2;
                font-size: $font-size-2;
                cursor: pointer;
                transition-duration: 0.2s;
                transition-property: border-color;
            }

            .option:hover, .option.selected {
                border-color: $active-color;
            }

            .option.selected {
                border-width: 2px;
            }
        }
    }
}